/* banner style */
body {
    margin: 0;
}

header {
    margin-bottom: 130px;
}

.banner-container {
    display: flex;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 250px;
}

.half-width {
    width: 50%;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
}

.banner-description {
    color: #444343;
}

.banner-btn {
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background: #F15B22;
}

/* my failures section style */
section {
    margin-bottom: 130px;
}

.failures-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 85px;
    margin: 0 175px 0 100px;
}

.failures-section-title {
    font-weight: 700;
    font-size: 40px;
}

.failures-info {
    text-align: start;
}

.failures-section-title {
    font-weight: 7000px;
    font-size: 40px;
}

.failure-description {
    color: #444343;
}

.failures-info ul {
    list-style: none;
}

.tick-icon {
    color: #16D887;
}

/* my plans style */
.plan-section-title {
    text-align: center;
    font-weight: 700px;
    font-size: 40px;
    margin-bottom: 55px;
}

.all-plan-info {
    display: flex;
    justify-content: space-around;
    margin: 0 230px;
}

.plan {
    text-align: center;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
}

.plan-status {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    margin-top: 0;
}

/* daily activities style */
.contact-section {
    background-color: #f4eae3;
    border-radius: 10px;
    width: 70%;
    padding: 30px 50px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.contact-section-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 60px;
    margin-top: 0;
    color: #F15B22;
}

.contact-container {
    display: flex;
    justify-content: center;

}

.contact-section img {
    border-radius: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 3px solid tomato;
}

.contact-form input,
textarea {
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
}

.contact-section-title {
    text-align: center;
}


/* positive mindset style*/
.positive-mindset {
    padding: 40px 60px;
    width: 60%;
    margin: 0 auto;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.positive-mindset h5 {
    margin: 0;
    color: #F8F8F8;
    font-weight: 700;
    font-size: 40px;
}

/* footer style */
footer {
    display: flex;
    text-align: start;
    gap: 330px;
    padding: 130px 230px;
    background-color: #151414;
    color: #F8F8F8;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}

.footer-description {
    margin-bottom: 24px;

}

.social-icon {
    margin-top: 30px;
}

.social-icon img {
    margin-right: 15px;
}

footer input {
    color: azure;
    background-color: #151414;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding: 10px 20px;
}

.primary-btn {
    font-weight: 600;
    font-size: 20px;
    padding: 20px 30px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    color: #F15B22;
    background: #FFFFFF;
}