/* banner style */
.banner-container {
    display: flex;
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 100px 200px;
    margin-bottom: 130px;
}

.half-width {
    width: 50%;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
}

.banner-description {
    color: #444343;
}

.banner-btn {
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background: #F15B22;
}

/* my failures section style */
.failures-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 85px;
    margin: 130px 175px 130px 100px;
    /* padding-left: 100px;
    padding-right: 150px; */
}

.failures-section-title {
    font-weight: 700;
    font-size: 40px;
}

.failures-info {
    text-align: start;
}

.failures-section-title {
    font-weight: 7000px;
    font-size: 40px;
    color: #151414;
}

.failure-description {
    color: #444343;
}

.failures-info ul {
    list-style: none;
}

.tick-icon {
    color: #16D887;
}